@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
}

.homepage-hero,
.contact-hero,
.faq-hero {
  background: linear-gradient(90deg, #fff calc(1.5rem - 2px), transparent 1%) center / 1.5rem 1.5rem, linear-gradient(#fff calc(1.5rem - 2px), transparent 1%) center / 1.5rem 1.5rem, #ddd;
}
